#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_129 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_1 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 1px 1px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_2 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 1px 1px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_82 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_22 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_3 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #434343;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #434343;
  border-radius: 1px 1px 0px 0px;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_18 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_26 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_27 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_28 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_29 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_1 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_2 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(90.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_2 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(90.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_3 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_3 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_85 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Panel_12 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Ellipse_5 {
  border-top-width: 10px;
  border-top-style: solid;
  border-top-color: #434343;
  border-right-width: 10px;
  border-right-style: solid;
  border-right-color: #434343;
  border-bottom-width: 10px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
  border-left-width: 10px;
  border-left-style: solid;
  border-left-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Button_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-anon_op2_background_sel_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_23 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Triangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Ellipse_3 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_78 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Ellipse_4 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_12 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_12 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_13 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_13 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_14 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_14 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_15 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_15 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_16 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_16 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_17 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_17 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_18 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_18 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_19 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_19 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Triangle_4 {
  -ms-transform: rotate(270.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line_diag_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line_diag_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-hint_text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-some_triangle_1 {
  -ms-transform: rotate(270.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_25 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-col_anon_notification_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_178 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_4 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_6 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-anon_op2_background_sel {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_6 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_4 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Triangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_77 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Ellipse_2 {
  border-top-width: 5px;
  border-top-style: solid;
  border-top-color: #666666;
  border-right-width: 5px;
  border-right-style: solid;
  border-right-color: #666666;
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #666666;
  border-left-width: 5px;
  border-left-style: solid;
  border-left-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_4 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_4 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_5 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_6 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_6 {
  border-top-width: 6px;
  border-top-style: solid;
  border-top-color: #434343;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_7 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_8 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_9 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_9 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_10 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_10 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_11 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Line_11 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(135.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Triangle_2 {
  -ms-transform: rotate(270.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line_diag {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-mask_op3_line_diag {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #666666;
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-hint_text {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-some_triangle {
  -ms-transform: rotate(270.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_15 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-col_anon_notification {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_5 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_10 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_9 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_8 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_11 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_7 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Table_10 {
  border-collapse: separate;
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Rectangle_31 {
  -ms-transform: rotate(45.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Image_111 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-1a88b7e7-1f05-465e-a350-0751f24b3532 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}