#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_129 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 27px 27px 27px 27px;
  padding-top: 14px;
  padding-right: 14px;
  padding-bottom: 14px;
  padding-left: 14px;
  width: 458px;
  height: 152px;
  -pie-background: linear-gradient(to bottom,#999999,#434343);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_110 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-drag_n_drop_csv_file_background {
  border-top-width: 3px;
  border-top-style: dashed;
  border-top-color: #999999;
  border-right-width: 3px;
  border-right-style: dashed;
  border-right-color: #999999;
  border-bottom-width: 3px;
  border-bottom-style: dashed;
  border-bottom-color: #999999;
  border-left-width: 3px;
  border-left-style: dashed;
  border-left-color: #999999;
  border-radius: 21px 21px 21px 21px;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_204 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 89px;
  height: 23px;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-export_mysql {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_23 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 8px 8px 8px 8px;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-db_hostname_label {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-username_label {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-password_label {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_172 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Callout_1 {
  border-top-width: 4px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 4px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 4px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Label_1 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #E3E3E3;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 62px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-delete_me2 {
  border-bottom-width: 5px;
  border-bottom-style: solid;
  border-bottom-color: #434343;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_31 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_41 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_149 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_63 {
  -ms-transform: rotate(90.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_33 {
  border-top-width: 2px;
  border-top-style: dashed;
  border-top-color: #CCCCCC;
  border-right-width: 2px;
  border-right-style: dashed;
  border-right-color: #CCCCCC;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
  border-bottom-color: #CCCCCC;
  border-left-width: 2px;
  border-left-style: dashed;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_32 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_150 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_173 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_32 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CCCCCC;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CCCCCC;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_205 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_62 {
  -ms-transform: rotate(90.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_206 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 463px;
  height: 6px;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-progbar_csv_inner {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #E5E5E5;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #E5E5E5;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F7F7F7;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #E5E5E5;
  border-radius: 1px 1px 1px 1px;
  padding-top: 1px;
  padding-right: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  width: 463px;
  height: 6px;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-progbar_sql_inner {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #000000;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_211 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_6 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_40 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Panel_4 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  filter: alpha(opacity=90);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_212 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
  border-radius: 4px 4px 4px 4px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 153px;
  height: 23px;
  -pie-background: linear-gradient(to bottom,#FFFFFF,#E6E6E6);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Line_1 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Line_2 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}