#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_110 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-drag_n_drop_csv_file_background {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_204 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-db_hostname_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-username_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-password_label {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_172 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Callout_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Label_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_149 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_63 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_150 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_173 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_205 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_62 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_206 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-progbar_csv_inner {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-progbar_sql_inner {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_211 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Image_212 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Button_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3f01b028-1fc4-4900-aa2d-745006f7b56d > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}