#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_129 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_15 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_18 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_23 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_24 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_25 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_28 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_27 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_22 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_30 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_31 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_32 {
  -ms-transform: rotate(270.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_38 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_39 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_40 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_41 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_42 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_43 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_44 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FCD202;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FCD202;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FCD202;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FCD202;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5F9E67;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5F9E67;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5F9E67;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5F9E67;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_45 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_46 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_47 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_111 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_48 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_49 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_50 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_51 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_52 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_53 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_54 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_55 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_56 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_57 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_58 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_59 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_60 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_61 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_62 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_63 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #D9D9D9;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #D9D9D9;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_64 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_65 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_66 {
  -ms-transform: rotate(270.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_67 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_68 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_69 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_70 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_71 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_72 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_73 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_74 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_75 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_76 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_77 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_78 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #999999;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #999999;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #999999;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #FCD202;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #FCD202;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #FCD202;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #FCD202;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_18 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #5F9E67;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #5F9E67;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #5F9E67;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #5F9E67;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_79 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_80 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_81 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_112 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Table_1 {
  border-collapse: separate;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_82 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_83 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_84 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_85 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_86 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_87 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_88 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_89 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_90 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #404040;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  -ms-transform: rotate(90.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_91 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_24 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20);
  filter: alpha(opacity=20);
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_92 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_93 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_94 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_95 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_96 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_97 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_98 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_100 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_101 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(17.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(17.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(315.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(315.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(45.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(45.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(43.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(43.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(323.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(323.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(53.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(53.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(336.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(336.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(343.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(343.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(299.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(299.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(329.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(329.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(294.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(294.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(50.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(50.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(325.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(325.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(62.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(62.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(311.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(311.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_29 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(35.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_29 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(35.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(29.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(29.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(302.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(302.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(286.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(286.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(321.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(321.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(325.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(325.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(73.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(73.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(315.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(315.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(39.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(39.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(313.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(313.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(304.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(304.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(293.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_41 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(293.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(50.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_42 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(50.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(331.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_43 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(331.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_44 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(298.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_44 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(298.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_45 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(50.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_45 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(50.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_46 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_46 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_47 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(60.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_47 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(60.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_48 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(293.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_48 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(293.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_49 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(47.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_49 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(47.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_50 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(19.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_50 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(19.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(342.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_51 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(342.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_52 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(45.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_52 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  -ms-transform: rotate(45.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_5 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_6 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_7 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_8 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_9 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_10 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_11 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_12 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_13 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_14 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_15 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_16 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_17 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_18 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_19 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_20 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_21 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_22 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_23 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_24 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_25 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_26 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_27 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_28 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_29 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_30 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_31 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_32 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_33 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_34 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_35 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_36 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_37 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_38 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_39 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_40 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_41 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_42 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_43 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_44 {
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: #69B3D6;
  border-right-width: 2px;
  border-right-style: solid;
  border-right-color: #69B3D6;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #69B3D6;
  border-left-width: 2px;
  border-left-style: solid;
  border-left-color: #69B3D6;
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_102 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_103 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_104 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_105 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_107 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_108 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_113 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_5 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_83 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_84 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_44 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_65 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_103 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_45 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_122 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_66 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_104 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_13 {
  -ms-transform: rotate(0.0deg);
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}