#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_129 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_32 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 47px;
  margin-top: -48px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_111 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_55 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_56 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_57 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_58 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_59 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_60 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_61 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_62 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_63 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_64 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_66 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 48px;
  margin-top: -48px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_67 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_68 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_69 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_70 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_71 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_72 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_73 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_74 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_75 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_76 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_77 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_78 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_79 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_80 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_81 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_112 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_2 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_3 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_4 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_5 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_6 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_7 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_8 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_9 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_10 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_11 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_82 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_85 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_86 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_87 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_88 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_89 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_90 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_12 {
  rotation: 90.0;
  margin-left: 2px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_91 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_24 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20) ;
  filter: alpha(opacity=20) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_92 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_93 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_94 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_95 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_96 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_97 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_98 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_100 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_101 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_13 {
  rotation: 17.0;
  margin-left: 0px;
  margin-top: -4px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_14 {
  rotation: 315.0;
  margin-left: 1px;
  margin-top: -5px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_15 {
  rotation: 45.0;
  margin-left: 4px;
  margin-top: -12px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_16 {
  rotation: 43.0;
  margin-left: 3px;
  margin-top: -12px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_17 {
  rotation: 323.0;
  margin-left: 2px;
  margin-top: -10px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_18 {
  rotation: 53.0;
  margin-left: 5px;
  margin-top: -14px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_20 {
  rotation: 336.0;
  margin-left: 0px;
  margin-top: -5px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_21 {
  rotation: 343.0;
  margin-left: 0px;
  margin-top: -4px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_22 {
  rotation: 299.0;
  margin-left: 11px;
  margin-top: -22px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_23 {
  rotation: 329.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_24 {
  rotation: 294.0;
  margin-left: 16px;
  margin-top: -27px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_25 {
  rotation: 50.0;
  margin-left: 4px;
  margin-top: -12px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_26 {
  rotation: 325.0;
  margin-left: 1px;
  margin-top: -8px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_27 {
  rotation: 62.0;
  margin-left: 11px;
  margin-top: -20px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_28 {
  rotation: 311.0;
  margin-left: 5px;
  margin-top: -13px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_29 {
  rotation: 35.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_30 {
  rotation: 29.0;
  margin-left: 1px;
  margin-top: -6px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_31 {
  rotation: 302.0;
  margin-left: 9px;
  margin-top: -19px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_32 {
  rotation: 286.0;
  margin-left: 27px;
  margin-top: -38px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_33 {
  rotation: 321.0;
  margin-left: 2px;
  margin-top: -8px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_34 {
  rotation: 325.0;
  margin-left: 1px;
  margin-top: -8px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_35 {
  rotation: 73.0;
  margin-left: 25px;
  margin-top: -35px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_37 {
  rotation: 315.0;
  margin-left: 3px;
  margin-top: -11px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_38 {
  rotation: 39.0;
  margin-left: 2px;
  margin-top: -10px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_39 {
  rotation: 313.0;
  margin-left: 4px;
  margin-top: -11px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_40 {
  rotation: 304.0;
  margin-left: 7px;
  margin-top: -16px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_41 {
  rotation: 293.0;
  margin-left: 16px;
  margin-top: -27px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_42 {
  rotation: 50.0;
  margin-left: 4px;
  margin-top: -12px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_43 {
  rotation: 331.0;
  margin-left: 1px;
  margin-top: -7px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_44 {
  rotation: 298.0;
  margin-left: 10px;
  margin-top: -20px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_45 {
  rotation: 50.0;
  margin-left: 4px;
  margin-top: -11px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_46 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_47 {
  rotation: 60.0;
  margin-left: 10px;
  margin-top: -19px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_48 {
  rotation: 293.0;
  margin-left: 16px;
  margin-top: -27px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_49 {
  rotation: 47.0;
  margin-left: 4px;
  margin-top: -12px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_50 {
  rotation: 19.0;
  margin-left: 0px;
  margin-top: -3px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_51 {
  rotation: 342.0;
  margin-left: 0px;
  margin-top: -4px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Line_52 {
  rotation: 45.0;
  margin-left: 3px;
  margin-top: -10px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_7 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_9 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_10 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_11 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_12 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_13 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_16 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_17 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_18 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_19 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_20 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_21 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_22 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_23 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_24 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_25 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_26 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_27 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_28 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_29 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_30 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_31 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_32 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_38 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_39 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_40 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_41 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_42 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_43 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Ellipse_44 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_102 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_105 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_107 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_108 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_113 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_83 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_84 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_65 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_103 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_122 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_66 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Image_104 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 #s-Text_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-d9ca8466-7e3b-487b-ae33-bfaada00a071 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}