#t-f894517a-70e0-41df-9cec-b257ca85088c > #backgroundBox {
  background-color: #FFFFFF;
  background-image: none;
  position: absolute;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c > #alignmentBox {
  position: relative;
  width: 100%;
  height: 100%;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c #t-Rectangle_2 {
  position: absolute;
  width: 213px;
  height: 102px;
  background-color: #FF9900;
  background-image: none;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  box-shadow: none;
  text-shadow: none;
  font-size: 10.0pt;
  font-family: 'Arial',Arial;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c #t-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c #t-Rectangle_2 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c #t-Rectangle_2 span#rtr-t-Rectangle_2_0 {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
  line-height: 0px;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}