#t-f894517a-70e0-41df-9cec-b257ca85088c #t-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#t-f894517a-70e0-41df-9cec-b257ca85088c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}