<html>
  <body>
    <div class="ui-page">
         <div id="t-f894517a-70e0-41df-9cec-b257ca85088c" class="template growth-both firer commentable non-processed" name="test_template" width="" height="">
         <div id="backgroundBox"></div>
         <div id="alignmentBox" class="left">
           <link type="text/css" rel="stylesheet" href="./resources/templates/f894517a-70e0-41df-9cec-b257ca85088c-1518646228006.css" />
           <!--[if IE]><link type="text/css" rel="stylesheet" href="./resources/templates/f894517a-70e0-41df-9cec-b257ca85088c-1518646228006-ie.css" /><![endif]-->
           <!--[if lte IE 8]><link type="text/css" rel="stylesheet" href="./resources/templates/f894517a-70e0-41df-9cec-b257ca85088c-1518646228006-ie8.css" /><![endif]-->
           <div id="t-Rectangle_2" class="rectangle firer commentable non-processed"   datasizewidth="213px" datasizeheight="102px" dataX="276" dataY="130" >
            <div class="clipping">
             <div class="content">
               <div class="valign">
                 <span id="rtr-t-Rectangle_2_0"></span>
               </div>
             </div>
            </div>
           </div>

           </div>
           <div id="loadMark"></div>
         </div>  
    </div>
  </body>
</html>